<!DOCTYPE html>
<html>
    <head>
        <title>assginment</title>
        <style>
            body {
                text-align: center;
            }
            #title-text {
                margin-bottom: 50px;
            }
        </style>
    </head>
    <body>
        <div id="title-text">
            This is the current weather where I live. <br>
            How is the weather like where you live? <br>
            Please send me a short sentence by e-mail <br>
        </div>
        <div>
            <div>SEOUL</div>
            <div>{{localtime}}</div>
            <div>{{temp_c}}</div>
            <div>{{temp_f}}</div>
            <div>{{condition_text}}</div>
            <div>{{condition_icon}}</div>
        </div>
    </body>
</html>